In [1]:
import os
import shutil
from tqdm import tqdm
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# START to process test data

In [15]:
test_list = pd.read_table('data/testImagesList',delim_whitespace=True, names=['id', 'landmark_id', 'filename'])
display(test_list.head())
display(test_list.shape)

                 id landmark_id                              filename
0  000088da12d664db        None  data/testImages/000088da12d664db.jpg
1  0001623c6d808702        None  data/testImages/0001623c6d808702.jpg
2  0001bbb682d45002        None  data/testImages/0001bbb682d45002.jpg
3  0002362830cfe3a3        None  data/testImages/0002362830cfe3a3.jpg
4  000270c9100de789        None  data/testImages/000270c9100de789.jpg

(72041, 3)

In [21]:
test_list_new = pd.read_table('data/testImagesList2', delim_whitespace=True, names=['id','landmark_id','filename'])
display(test_list_new.head())
display(test_list_new.shape)

                 id landmark_id                              filename
0  a021cc94ec926b14        None  data/testImages/a021cc94ec926b14.jpg
1  a022fcbcaf598db3        None  data/testImages/a022fcbcaf598db3.jpg
2  a02373108e5f12d2        None  data/testImages/a02373108e5f12d2.jpg
3  a023a337276591af        None  data/testImages/a023a337276591af.jpg
4  a023b2c56fe003ae        None  data/testImages/a023b2c56fe003ae.jpg

(43658, 3)

In [22]:
test_list_result = test_list.append(test_list_new, ignore_index=True)
display(test_list_result.head())
display(test_list_result.shape)
display(test_list_result.tail())
test_list_result = test_list_result.drop_duplicates()
display(test_list_result.head())
display(test_list_result.shape)
display(test_list_result.tail())

                 id landmark_id                              filename
0  000088da12d664db        None  data/testImages/000088da12d664db.jpg
1  0001623c6d808702        None  data/testImages/0001623c6d808702.jpg
2  0001bbb682d45002        None  data/testImages/0001bbb682d45002.jpg
3  0002362830cfe3a3        None  data/testImages/0002362830cfe3a3.jpg
4  000270c9100de789        None  data/testImages/000270c9100de789.jpg

(115699, 3)

                      id landmark_id                              filename
115694  fffecaa7a64a1649        None  data/testImages/fffecaa7a64a1649.jpg
115695  ffff1a051dab1f7a        None  data/testImages/ffff1a051dab1f7a.jpg
115696  ffff2f7b0f69b804        None  data/testImages/ffff2f7b0f69b804.jpg
115697  ffff5d1e486c7226        None  data/testImages/ffff5d1e486c7226.jpg
115698  ffffd526f7e18b49        None  data/testImages/ffffd526f7e18b49.jpg

                 id landmark_id                              filename
0  000088da12d664db        None  data/testImages/000088da12d664db.jpg
1  0001623c6d808702        None  data/testImages/0001623c6d808702.jpg
2  0001bbb682d45002        None  data/testImages/0001bbb682d45002.jpg
3  0002362830cfe3a3        None  data/testImages/0002362830cfe3a3.jpg
4  000270c9100de789        None  data/testImages/000270c9100de789.jpg

(115698, 3)

                      id landmark_id                              filename
115694  fffecaa7a64a1649        None  data/testImages/fffecaa7a64a1649.jpg
115695  ffff1a051dab1f7a        None  data/testImages/ffff1a051dab1f7a.jpg
115696  ffff2f7b0f69b804        None  data/testImages/ffff2f7b0f69b804.jpg
115697  ffff5d1e486c7226        None  data/testImages/ffff5d1e486c7226.jpg
115698  ffffd526f7e18b49        None  data/testImages/ffffd526f7e18b49.jpg

In [23]:
test_list_result.to_csv('data/testImagesList_final', index=False)
test_final = pd.read_csv('data/testImagesList_final')
display(test_final.head())
display(test_final.shape)

                 id landmark_id                              filename
0  000088da12d664db        None  data/testImages/000088da12d664db.jpg
1  0001623c6d808702        None  data/testImages/0001623c6d808702.jpg
2  0001bbb682d45002        None  data/testImages/0001bbb682d45002.jpg
3  0002362830cfe3a3        None  data/testImages/0002362830cfe3a3.jpg
4  000270c9100de789        None  data/testImages/000270c9100de789.jpg

(115698, 3)

In [2]:
test_downloaded = pd.read_csv('data/testImagesList')
test_original = pd.read_csv('data/test/test.csv')

In [20]:
# test_not_downloaded = test_downloaded['id'].append(test_original['id'])
test_not_downloaded = test_original[~test_original['id'].isin(test_downloaded['id'])]

display(test_not_downloaded.head())
display(test_not_downloaded.shape)
test_not_downloaded.to_csv('data/testImagesList_not_download', index=False)

                   id                                                url
31   00129c981f8e343f  https://lh3.googleusercontent.com/-1pnJtcFnlKo...
42   0017d8ef2a3acd3c  https://lh3.googleusercontent.com/-Sj8AfZFbi5M...
50   0019a87e323272b8  https://lh3.googleusercontent.com/--eE8fWDhO9s...
197  006fde4dfab795ec  https://lh3.googleusercontent.com/-49nKoHVUu80...
224  0081d3fb0d729efe  https://lh3.googleusercontent.com/-XQst1PsHe24...

(2005, 2)

In [21]:
t_not_d = pd.read_csv('data/testImagesList_not_download')
display(t_not_d.shape)
display(t_not_d.head())

(2005, 2)

                 id                                                url
0  00129c981f8e343f  https://lh3.googleusercontent.com/-1pnJtcFnlKo...
1  0017d8ef2a3acd3c  https://lh3.googleusercontent.com/-Sj8AfZFbi5M...
2  0019a87e323272b8  https://lh3.googleusercontent.com/--eE8fWDhO9s...
3  006fde4dfab795ec  https://lh3.googleusercontent.com/-49nKoHVUu80...
4  0081d3fb0d729efe  https://lh3.googleusercontent.com/-XQst1PsHe24...

In [ ]:
# move files from A directory to b directory
# for file in os.listdir("data/train/trainImages2"):
for root, dirs, files in os.walk("data/testImages_new"):
#     print(root)
#     print(dirs)
#     print(files[0])
    for file in tqdm(files, total = len(files)):
        shutil.move("data/testImages_new/"+str(file), "data/testImages/"+str(file))

 60%|████████████████████▉              | 26072/43658 [02:11<01:28, 198.56it/s]

# START to process train data
###########################################

In [20]:
test_orig = pd.read_csv('data/test/test.csv')
display(test_orig.head())
display(test_orig.shape)

                 id                                                url
0  000088da12d664db  https://lh3.googleusercontent.com/-k45wfamuhT8...
1  0001623c6d808702  https://lh3.googleusercontent.com/-OQ0ywv8KVIA...
2  0001bbb682d45002  https://lh3.googleusercontent.com/-kloLenz1xZk...
3  0002362830cfe3a3  https://lh3.googleusercontent.com/-N6z79jNZYTg...
4  000270c9100de789  https://lh3.googleusercontent.com/-keriHaVOq1U...

(117703, 2)

In [14]:
rows_t = test_orig.loc[test_orig['id']=='a021cc94ec926b14']
display(rows_t)

                     id                                                url
73283  a021cc94ec926b14  https://lh3.googleusercontent.com/-JE6LCbZRtoc...

In [7]:
train_list = pd.read_csv('data/trainImagesList')
display(train_list.head())
display(train_list.shape)
train_list_result = train_list.drop_duplicates()
display(train_list_result.head())
display(train_list_result.shape)
display(train_list_result.tail())

                 id  landmark_id                               filename
0  4cddf5dfec480378        10900  data/trainImages/4cddf5dfec480378.jpg
1  e892105697730cd0         9633  data/trainImages/e892105697730cd0.jpg
2  e6ca7e6d1fb0c30e         7979  data/trainImages/e6ca7e6d1fb0c30e.jpg
3  5b7e170e3f82df79         8487  data/trainImages/5b7e170e3f82df79.jpg
4  8bb30ed8ded320b5        10045  data/trainImages/8bb30ed8ded320b5.jpg

(309322, 3)

                 id  landmark_id                               filename
0  4cddf5dfec480378        10900  data/trainImages/4cddf5dfec480378.jpg
1  e892105697730cd0         9633  data/trainImages/e892105697730cd0.jpg
2  e6ca7e6d1fb0c30e         7979  data/trainImages/e6ca7e6d1fb0c30e.jpg
3  5b7e170e3f82df79         8487  data/trainImages/5b7e170e3f82df79.jpg
4  8bb30ed8ded320b5        10045  data/trainImages/8bb30ed8ded320b5.jpg

(309322, 3)

                      id  landmark_id                               filename
309317  f2bad43856de8694         5324  data/trainImages/f2bad43856de8694.jpg
309318  12d69a93f13118cb         9779  data/trainImages/12d69a93f13118cb.jpg
309319  36d6c031b3035bdf         3950  data/trainImages/36d6c031b3035bdf.jpg
309320  e76ddbfb7b5146d5         4946  data/trainImages/e76ddbfb7b5146d5.jpg
309321  70257f2724c36352         2476  data/trainImages/70257f2724c36352.jpg

In [10]:
train_orig = pd.read_csv('data/train/train.csv')
display(train_orig.head())
display(train_orig.shape)

,id,url,landmark_id
0,cacf8152e2d2ae60,http://static.panoramio.com/photos/original/70...,4676
1,0a58358a2afd3e4e,http://lh6.ggpht.com/-igpT6wu0mIA/ROV8HnUuABI/...,6651
2,6b2bb500b6a38aa0,http://lh6.ggpht.com/-vKr5G5MEusk/SR6r6SJi6mI/...,11284
3,b399f09dee9c3c67,https://lh3.googleusercontent.com/-LOW2cjAqubA...,8429
4,19ace29d77a5be66,https://lh5.googleusercontent.com/-tnmSXwQcWL8...,6231

(1225029, 3)

In [11]:
rows = train_orig.loc[train_orig['id'] == 'e76ddbfb7b5146d5']
display(rows)

,id,url,landmark_id
150998,e76ddbfb7b5146d5,https://lh6.googleusercontent.com/-Rles6sQTUv0...,4946

In [30]:
# move files from A directory to b directory
# for file in os.listdir("data/train/trainImages2"):
for root, dirs, files in os.walk("data/trainImages_5"):
#     print(root)
#     print(dirs)
#     print(files[0])
    for file in tqdm(files, total = len(files)):
        shutil.move("data/trainImages_5/"+str(file), "data/trainImages/"+str(file))

100%|███████████████████████████████████| 87410/87410 [04:07<00:00, 353.12it/s]

In [35]:
# train = pd.read_table('data/trainImagesList',delim_whitespace=True, names=['id', 'landmark_id', 'filename'])
train = pd.read_csv('data/trainImagesList')
display(train.head())
display(train.shape)

                 id  landmark_id                               filename
0  4cddf5dfec480378        10900  data/trainImages/4cddf5dfec480378.jpg
1  e892105697730cd0         9633  data/trainImages/e892105697730cd0.jpg
2  e6ca7e6d1fb0c30e         7979  data/trainImages/e6ca7e6d1fb0c30e.jpg
3  5b7e170e3f82df79         8487  data/trainImages/5b7e170e3f82df79.jpg
4  8bb30ed8ded320b5        10045  data/trainImages/8bb30ed8ded320b5.jpg

(309322, 3)

In [36]:
train_3 = pd.read_table('data/trainImagesList_3',delim_whitespace=True, names=['id', 'landmark_id', 'filename'])
display(train_3.head())
display(train_3.shape)

                 id  landmark_id                               filename
0  4cddf5dfec480378        10900  data/trainImages/4cddf5dfec480378.jpg
1  e892105697730cd0         9633  data/trainImages/e892105697730cd0.jpg
2  e6ca7e6d1fb0c30e         7979  data/trainImages/e6ca7e6d1fb0c30e.jpg
3  5b7e170e3f82df79         8487  data/trainImages/5b7e170e3f82df79.jpg
4  8bb30ed8ded320b5        10045  data/trainImages/8bb30ed8ded320b5.jpg

(355742, 3)

In [37]:
train_5 = pd.read_table('data/trainImagesList_5',delim_whitespace=True, names=['id', 'landmark_id', 'filename'])
display(train_5.head())
display(train_5.shape)

                 id  landmark_id                               filename
0  06d49a0afae85553        12936  data/trainImages/06d49a0afae85553.jpg
1  42b03df8b832fe0f         2473  data/trainImages/42b03df8b832fe0f.jpg
2  932b4ffd43391207        11678  data/trainImages/932b4ffd43391207.jpg
3  e1ca753e1af7134f          393  data/trainImages/e1ca753e1af7134f.jpg
4  b99c95501af86857        10281  data/trainImages/b99c95501af86857.jpg

(87410, 3)

In [38]:
# result = pd.merge(train, train_1, how='left', on=['id', 'landmark_id', 'filename'])
result = train.append(train_3, ignore_index=True)
display(result.head())
print(result.shape)
result = result.append(train_5, ignore_index=True)
display(result.head())
print(result.shape)

                 id  landmark_id                               filename
0  4cddf5dfec480378        10900  data/trainImages/4cddf5dfec480378.jpg
1  e892105697730cd0         9633  data/trainImages/e892105697730cd0.jpg
2  e6ca7e6d1fb0c30e         7979  data/trainImages/e6ca7e6d1fb0c30e.jpg
3  5b7e170e3f82df79         8487  data/trainImages/5b7e170e3f82df79.jpg
4  8bb30ed8ded320b5        10045  data/trainImages/8bb30ed8ded320b5.jpg

(665064, 3)

                 id  landmark_id                               filename
0  4cddf5dfec480378        10900  data/trainImages/4cddf5dfec480378.jpg
1  e892105697730cd0         9633  data/trainImages/e892105697730cd0.jpg
2  e6ca7e6d1fb0c30e         7979  data/trainImages/e6ca7e6d1fb0c30e.jpg
3  5b7e170e3f82df79         8487  data/trainImages/5b7e170e3f82df79.jpg
4  8bb30ed8ded320b5        10045  data/trainImages/8bb30ed8ded320b5.jpg

(752474, 3)

In [39]:
result = result.drop_duplicates()
display(result.head())
print(result.shape)

                 id  landmark_id                               filename
0  4cddf5dfec480378        10900  data/trainImages/4cddf5dfec480378.jpg
1  e892105697730cd0         9633  data/trainImages/e892105697730cd0.jpg
2  e6ca7e6d1fb0c30e         7979  data/trainImages/e6ca7e6d1fb0c30e.jpg
3  5b7e170e3f82df79         8487  data/trainImages/5b7e170e3f82df79.jpg
4  8bb30ed8ded320b5        10045  data/trainImages/8bb30ed8ded320b5.jpg

(593365, 3)

In [40]:
# result.to_csv('data/trainImagesFinal', sep=',', index=False)
result.to_csv('data/trainImagesFinal', index=False)

In [41]:
check = pd.read_csv('data/trainImagesFinal')
print(check.shape)
display(check.head())

(593365, 3)

                 id  landmark_id                               filename
0  4cddf5dfec480378        10900  data/trainImages/4cddf5dfec480378.jpg
1  e892105697730cd0         9633  data/trainImages/e892105697730cd0.jpg
2  e6ca7e6d1fb0c30e         7979  data/trainImages/e6ca7e6d1fb0c30e.jpg
3  5b7e170e3f82df79         8487  data/trainImages/5b7e170e3f82df79.jpg
4  8bb30ed8ded320b5        10045  data/trainImages/8bb30ed8ded320b5.jpg